body {
		font-family: Arial, sans-serif;
}

.wrapper {
		width: 960px;
		margin: 0 auto;
		background: #fff;
}

.name {
		color: #767776;
}

h1 {
		font-size: 36px;
		text-align: center;
}

img {
		display: block;
		height: 200px;
		margin: 0 auto;
}

p {
		color: #3b3b3b;
		font-size: 16px;
}

li {
		color: #3b3b3b;
		font-size: 16px;
		font-weight: bold;
}

a {
		color: #0056d3;
		font-style: italic;
		font-weight: bold;
}
